extends ../template 

block variables
    - var title = "Блог"

block content
    h1 Блог
        ul
            li
                h2 Заголовок статьи
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ручеек предупредила силуэт возвращайся семь проектах буквоград что от всех которое злых приставка великий напоивший продолжил коварный снова, рукописи живет своих.    
            li
                h2 Заголовок статьи
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ручеек предупредила силуэт возвращайся семь проектах буквоград что от всех которое злых приставка великий напоивший продолжил коварный снова, рукописи живет своих.    
            li
                h2 Заголовок статьи
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ручеек предупредила силуэт возвращайся семь проектах буквоград что от всех которое злых приставка великий напоивший продолжил коварный снова, рукописи живет своих.            