


.header-container{
    min-height: 600px;
    height: 100vh;
    position: relative;
}
.parallax__color-overlay{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom:0;
    background-color: rgba($darkgreen, .3);
}
.menu{
    height: 35px;
    width: 40px;
    color: #ffffff;
}
.socials__icon_top{
    color: rgba($white, .5);
    &:hover{
        color:  rgba($white, 1);
    }
}
.header-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-portfolio_header{
    max-width: 1173px;
    color: rgba(#fff, .06);
} 
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-name_white{
    color: #fff;
}
.user-info_white{
    color: rgba(#fff, .8);
}
.header-bottom{
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
}
.header-bottom__arrow{
    color: rgba(#fff, .7);
    width: 26px;
    height: 16px;
}
.section-content{
    height: 100%;
    display: flex;
}

.about-left, .about-right{
    width: 50%;
    position: relative;
    flex-grow: 1;
}

.about-left_bg, .about-right_bg{
    width:100%;
    height: 100%;
}
.about_bg{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
}
.about-left_bg{
    color: #efeee9;
}
.about-right_bg{
    color: #eeebdf;
}
.about-me{
    margin-top: -175px;
    position: relative;
    min-height: 100vh;
}
.about-left-content{
    position: relative;
    padding-left: 40px;
    padding-bottom: 70px;
    padding-top: 175px;
    width: 100%;
    display: flex;
    @include media(1485px){
        flex-wrap: wrap;
    }
}
.about-right-content{
    position: relative;
    padding-right: 50px;
    padding-left: 40px;
    padding-bottom: 70px;
    padding-top: 175px;
    width: 100%;
}
.about-title{
    position: relative;
    width: 45%;
    @include media(1485px){
        padding: 0 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.about-content{
    padding: 0 30px;
    width: 55%;
    @include media(1485px){
        width: 100%;
    }
}
.title-bg{
    position: absolute;
    height: 125px;
    width: 100%;
    top: -40px;
    left: 0;
}
.about-header{  
    max-width: 357px;
    width: 100%;
    height: 100%;
    color: rgba($darkgray, .07);
    @include media(1485px){
        display: flex;
        margin: auto;
    }
}
.about-content__picture {
    height: 390px;
    overflow: hidden;
}
