$green: #00bfa5;
$darkgreen: #009688;
$gray: #455a64;
$darkgray: #373e42;
$white: #ffffff;
$colorLink: #6da3bd;

@mixin large {
	@media (max-width: 1200px){
        @content
	}
}

@mixin media ($width) {
	@media (max-width: $width){
        @content
	}
}

body, html{
    width: 100%;
    min-height: 100%;
    font-family: "Roboto-Regular";
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body{
   position: relative;
}
*{
    box-sizing: border-box;
}
a{
    color: $colorLink;
}
p{
   color: $darkgray;
   line-height: 1.5; 
}
h1, h2, h3, h4, h5, h6{
    font-family: "BERNIERRegular-Regular";
    font-weight: 400;
    color: $darkgray;
    text-align: center;
}
h1{
    font-size: 63px;
    margin: 70px 0;   
}
h2{
    font-size: 35px;
    margin: 40px auto; 
}
h3{
    font-size: 35px;
    margin: 40px auto;

}
.heading-1{
    @extend h1;
    display: inline-block;
    margin-top: 0;
    position: relative;
    padding: 0 62px;
    &:after, &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        width: 22px;
        height: 5px;
        margin: 32px 20px;
        background-color: rgba($darkgray, .2);
    }
    &:before{
      left: 0;   
    } 
    &:after{
        right: 0;
    }
}
.heading-2{
    @extend h2;
    display: inline-block;
    position: relative;
    padding: 0 62px;
    &:after, &:before {
        content: "";
        display: inline-block;
        width: 22px;
        position: absolute;
        top: 0;
        height: 5px;
        margin: 18px 20px;
        background-color: rgba($darkgray, .2);
    }
    &:before{
        left: 0;   
      } 
      &:after{
          right: 0;
      }
}
.heading-3{
    @extend h3;
    display: block;
    &:after, &:before {
        content: "";
        display: inline-block;
        width: 22px;
        height: 5px;
        margin: 10px 20px;
        background-color: rgba($darkgray, .2);
    }
}



