$green: #00bfa5;
$darkgreen: #009688;
$gray: #455a64;
$darkgray: #373e42;
$white: #ffffff;
$colorLink: #6da3bd;

@mixin large {
	@media (max-width: 1200px){
        @content
	}
}
@mixin tablets() {
    @media screen and (max-width: 768px) {
      @content;
    }
}
@mixin media ($width) {
	@media screen and (max-width: $width){
        @content
	}
}

@mixin mobile() {
    @media screen and (max-width: 320px) {
      @content;
    }
}
body, html{
    width: 100%;
    min-width: 310px;
    min-height: 100%;
    font-family: "Roboto-Regular";
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body{
   position: relative;
}
*{
    box-sizing: border-box;
}
a{
    color: $colorLink;
}
p{
   color: $gray;
   line-height: 1.5;
   margin: 0 0 10px; 
}
h1, h2, h3, h4, h5, h6{
    font-family: "BERNIERRegular-Regular";
    font-weight: 400;
    color: $gray;
    text-align: center;
}
h1{
    font-size: 63px;
    margin: 70px 0; 
    color: $darkgray;
    @include tablets{
        margin: 50px 0;
        font-size: 50px;
    }
    @include mobile{
        margin: 30px 0;
        font-size: 35px;
    }
}
h2{
    font-size: 35px;
    margin: 40px auto;
    @include media(420px){
        font-size: 30px;
    }
    @include tablets{
        margin:0;
    } 
    @include mobile{
        font-size: 21px;
    }
}
h3{
    font-size: 35px;
    margin: 40px auto;
    @include tablets{
        margin-bottom: 10px;
    } 

}
.heading-1{
    @extend h1;
    display: inline-block;
    margin-top: 0;
    position: relative;
    padding: 0 1em;
    &:after, &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        width: 22px;
        height: 5px;
        margin: 32px 20px;
        background-color: rgba($darkgray, .2);
    }
    &:before{
      left: 0;   
    } 
    &:after{
        right: 0;
    }
}
.heading-2_margin-top_no{
    margin-top: 0;
}
.heading-1_offset-no{
    margin: 0;
    padding: 55px 120px;
    &:after, &:before{
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }
    &:after{
        right: 58px;
    }
    &:before{
        left: 58px;
    }
    @include tablets{
        padding: 35px 120px;
    }
    @include media(480px){
        padding: 35px 60px;
        &:after{
            right: 0;
        }
        &:before{
            left: 0;
        }
    }  
}
.heading-1_multirow{
    &:after, &:before {
        margin-top: 90px;
    }
}
.heding-1_white{
    color: #fff;
    margin-bottom: 0;
    &:after, &:before {
        background-color: rgba(#fff, .2);
    }
}
.heading-2{
    @extend h2;
    display: inline-block;
    position: relative;
    padding: 0 2em;
    &:after, &:before {
        content: "";
        display: inline-block;
        width: 22px;
        position: absolute;
        top: 0;
        height: 5px;
        margin: 18px 20px;
        background-color: rgba($darkgray, .2);
    }
    &:before{
        left: 0;   
      } 
      &:after{
          right: 0;
      } 
    @include media(420px){
        &:after, &:before {
            margin: 15px 20px;
        }
    }
    @include mobile{
        padding: 0 3em;
        &:after, &:before {
            margin: 9px 20px;
        }
    }  
}
.heading-2_offset-no{
    margin:0;
}
.heading-3{
    @extend h3;
    display: block;
    &:after, &:before {
        content: "";
        display: inline-block;
        width: 22px;
        height: 5px;
        margin: 10px 20px;
        background-color: rgba($darkgray, .2);
    }
}
.title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.section-title{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.preloader{
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 50;
    background-image: url(../images/bg-preloader.jpg);
    background-color: $green;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 1s all ease;
    visibility: visible;
}
[class^="preload-circle-"]{
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.preloader_done{
    opacity: 0;
    visibility: hidden;
}

.popup-wrapper{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;
}

.popup{
    padding:50px 30px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 5px 5px 5px 0 rgba(#000, .5);
    border: 2px solid rgba(0, 191, 165, 0.26);
}
.popup-wrapper.show{
    opacity: 1;
    visibility: visible;
}
.popup__close{
    position: absolute;
    top: 10px;
    right: 10px;
    width:25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid $green;
    transition: all ease .3s;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
       background-color: $green;
    }
}
.popup__close-icon:hover{
 fill: #fff;
}
