.header-content__top_size1200{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.triangle_white{
 fill: #fff;
}
.blog{
    position: relative;
    margin-top: 175px;
    display: flex;
    padding-bottom: 145px;
}
.sidebar{
  width: 390px;
  position: absolute;
  top:0;
  left:0;
@include tablets{
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 35;
    box-shadow: 3px 0px 3px 0px rgba(#000, .2);
    transform: translateX(-100%);
    transition: transform .6s ease;
}
}
.sidebar__menu-btn{
    display: block;
    border-radius: 50%;
    position: absolute;
    right: -8px;
    top: 50%;
    z-index: -1;
    box-shadow: 3px 0px 3px 0px rgba(#000, .2);
    width: 16px;
    height: 44px;
    margin-top: -22px;
    background-color: $green;
}
.sidebar.open{
    transform: translateX(0);
}
.sidebar_sticky{
    position: fixed;
    top:0;
    left:0;
}
.post-list{
 list-style: none;
 margin:0;
 @include tablets{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $green;
    z-index: 36;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
}
.post-list__item{
 margin-bottom: 20px;
    
}
.post-list__item.active .post-list__link{
    color: $green;
    border-right: 3px solid $green;
    @include tablets{
        color: rgba(#fff, 1);
     }
}

.post-list__link{
    padding: 15px 20px;
    display: block;
    text-align: right;
    color: $gray;
    text-decoration: none;
    line-height: 1.6;
    border-right: 3px solid transparent;
    transition: color ease .3s;
    @include tablets{
        color: rgba(#fff, .7);
        margin-right: 20px;
        padding-right: 0;
        &:hover{
            color: rgba(#fff, 1);
        }
     }
}
.post-content{
    text-align: left;
    flex-direction: column;
    margin-left: 390px;
    padding-left: 120px;
    @include tablets{
        margin-left: 0;
        padding: 0 30px;
    }
}
.post{
    &:after{
        content: "";
        display: block;
        width: 70%;
        height: 5px;
        margin: 70px 0;
        background-color: rgba($darkgray, .07); 

    }
}
.post__name{
    font-size: 35px;
    margin: 30px auto;
    font-family: "BERNIERRegular-Regular";
    font-weight: 400;
    color: $gray;
    @include tablets{
        margin-bottom: 10px;
        margin-top: 0;
    } 
}
.post__date{
    color: $green;
    margin-bottom: 30px;
}