.title-bg_sizeL{
    height: 100%;
    max-width: none;
}
.bg-works_header{
    color: #f0eee7;
}
.triangle-wrapper{
    margin-top: -175px;
    position: relative;
    @include mobile{
        margin-top: -187px;  
    }
}

.title-wrapper{
    margin-top: 155px;
    width: 100%;
    background-color: #faf8f0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


.slider{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
    "caption view"
    "caption preview";
    text-align: center;
    @include tablets {
        grid-template-columns: 100%;
        grid-template-rows: 530px 270px 215px;
        grid-template-areas: 
          "view"
          "caption"
          "preview";
    }
    @include mobile {
        grid-template-rows: 260px 220px 95px;
    }
}
.slider-view, .slider-preview {
    background: #efebe0;
}
.icon-link{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.caption__btn{
    background: $green;
    vertical-align: middle;
    margin-bottom: 10px;
    @include mobile{
        font-size: 14px;
    }   
}
.caption, .caption-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.caption{
    background: #f0efe9;
    grid-area: caption;
}
.caption-wrapper{
    max-width: 420px;
    @include tablets{
        max-width: none; 
    }
}
.caption__title{
    @include tablets{
        margin-bottom: 20px;
    }
}
.caption__technology{
    width: 100%;
    border-top: 1px solid rgba($darkgreen, .3);
    border-bottom: 1px solid rgba($darkgreen, .3);
    padding: 20px;
    margin-bottom: 40px;
    @include tablets{
        margin-bottom: 20px;
    }
    color:$green;
    text-transform: uppercase;
    font-family: "Roboto-Medium";
    font-size: 16px;
    @include mobile{
        padding: 10px;
        font-size: 14px;
    }
}
.slider-view{
    grid-area: view;
    overflow: hidden;
}
.slider-preview{
    grid-area: preview;
    display: flex;
}
.slider-preview__element{
    width: 50%;
    position: relative;
    overflow: hidden;
}
.slider-view__image{
    width: 70%;
    padding: 65px 0 50px;
    @include tablets{
        padding: 105px 0 45px;
        max-height: 100%;
        width: auto;
    }
    @include mobile{
        padding: 50px 45px;
    }
}
.slider-view__image, .slider-preview__image{
    max-width: 100%;
}
.slider-preview__link{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(#b6b4ae, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-preview__link_next{
    background: rgba(#b6b4ae, .5);
}
.slider-preview__icon{
    width: 45px;
    height: 30px;
    fill: #fff;
}
.section-content_testimonials{
    flex-direction: column;
    align-items: center; 
    position: relative;
    background-image: url(../images/blur.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 145px;
    @include tablets{
        padding-bottom: 210px;  
    }
    @include media(480px){
        padding-bottom: 270px;  
    } 
}
.testimonials__bg{
    max-width: 100%;
}
.heading-1_testimonials{
    &:before, &:after{
        margin-top: auto;
    }
}
.title-testimonials{
    max-width: 570px;
    margin: 0 auto;
    @include tablets{
        max-width: 100%;
    }
}
.testimonials__content{
    margin-bottom: 50px;
}
.review{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    @include media(480px){
        flex-wrap: wrap;
    } 
}
.review__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33.3333%;
    padding: 0 20px;
    @include tablets{
        width: 50%;
    }
    @include media(480px){
        width: 100%;
        margin-bottom: 30px;
    }    
}
.review__quote-icon{
    font-size: 36px;
    color: rgba($darkgray, .2);
    margin-bottom: 10px;
    @include media(480px){
       align-self: center;
    }  
}
.review__text{
    color: $gray;
    text-align: left;
    flex-grow: 1;
}
.author{
    display: flex;
    align-items: center;
    justify-content: center;
}
.author__picture{
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;
}
.author__image{
    width: 100%; 
}
.author__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $green;
    text-align: left;
}
.author__name{
    font-family: "Roboto-Bold";
    margin-bottom: 5px;
}
.author__post{
text-align: left;
}
.contacts-block{
    max-width: 380px;
    width: 100%;
    padding: 0 10px;
    margin-top: auto;
}
.contacts-form{
    width:100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}
.contacts-form__info{
    position: relative;
    
}
.contact-form__title  {
    @include media(480px){
        padding: 40px 0 30px;
    }    
}
.blur{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/blur.png);
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 500px rgba(255,255,255,0.2);
    filter: blur(10px);
}

.form__input_no-icon {
    padding: 10px 20px;
}
.form__input_textarea{
    line-height: 1.5;
    height: 140px;
    resize: none;
}
.navigation_contact-form{
    position: relative;
}

.arrow-up{
    padding: 70px 0;
    @include tablets{
        padding: 100px 0 50px;
    }
}
.arrow-up__icon{
transform: rotate(180deg);
}