.header-main-container{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.header-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.parallax{
    height: 100%;
}
.parallax__img{
    max-width: 110%;
    @include media(1260px){
        max-width: 200%;
    }
    @include tablets{
        max-width: none;
        height: 110%;
    }
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.parallax__layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 .cloud-4{
    width: 17%;
    height: auto;
    left:0;
    top: 15%; 
}
.cloud-7{
    width: 22%;
    height: auto;
    left: -10%;
    top: 37%;
    transform: translateX(-100%); 
}

.cloud-10{
    width: 75%;
    top: auto;
    height: auto;
    left: 0;
    bottom:0;
    transform: translateX(-100%); 
    @include tablets{
        width: 210%;
    } 
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.welcome__main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    perspective: 800px;
    flex-grow: 1;
}
.header-content__top{
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.header-content__top_main{
    padding-right: 100px;
    justify-content: flex-end;
    @include tablets{
        padding-right: 25px;
    }
    @include media(420px){
        justify-content: center;
    } 
}
.btn{
    color: $white;
    padding: 10px 25px;
    display: block;
    transition: all ease 400ms;
    text-decoration: none;
    font-family: "Roboto-Medium";
    border-radius: 5px;
}
.btn-autorization{
    border: 1px solid $white;
    &:hover{
        background-color: $white;
        color: $green;
    } 
}
.welcome-form{
   transform-style: preserve-3d;
   width: 380px;
   height: 395px;
   position: relative;
   transition: all 0.6s ease;
   @include media(420px){
       width: 100%;
       margin: 0 10px; 
   }
}

.welcome-form__front,
 .welcome-form__back {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 5px; 
 overflow: hidden;
 backface-visibility: hidden;
 height: 100%;
 text-align: center; 
 display: flex;
 flex-direction: column;
 justify-content: space-between; 
}
.welcome-form__back{
    height: 405px;
    transform: rotateY(180deg);
    pointer-events: none;
}
.user-info{
    background-color: rgba(#fcfcfc,.85);
    flex-grow: 1;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user__picture{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 10px;   
}
.user__img{
    width: 100%;
    display: block;
}
.user__name{
  color: $gray;
  font-size: 28px;
  margin-bottom: 10px;
  font-family: 'Roboto-Medium';  
}
.user__describe{
    font-size: 16px;
    font-family: "Roboto-Regular";
    color: rgba($gray, .85);
    margin-bottom: 35px;
}
.socials__item{
    margin-right: 25px;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    &:last-child{
        margin: 0;
    }
}
.socials{
    margin: 0;
    padding: 0;
    list-style: none;
}
.socials__icon{
    font-size: 25px;
    vertical-align: middle;
    color: rgba($green, .5);
    transition: color ease 300ms;
    &:hover{
        color:  rgba($green, 1);
    }
    @include mobile{
        font-size: 18px; 
    }
}

.navigation{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    padding:0;
    margin:0;
}
.navigation__item{
    
    flex-grow: 1;
    height: 100%;
    line-height: 45px;
    border-right: 2px solid rgba($white, .5);
    background-color: rgba($green, .85);
    transition: all ease 300ms;
    text-decoration: none;
    &:last-child{
        border-right:none;
    }
    &:hover{
        background-color: rgba($darkgreen, .85);
    }
   
}
.navigation__link{
    text-decoration: none;
    color: $white; 
    display: block;
    width: 100%;
    height: 100%;
}
.welcome-form__title{
  padding: 40px 0;  
}
.form{
    padding: 0 20px;
}
.form-btn{
    border: none;
    cursor: pointer;
    background: transparent;
    &:focus{
        outline: none;
    }
}
.form__field{
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
}
.form__label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45px;
    border-radius: 5px 0 0 5px;
    background-color: #f0efe9;
}
.form__input{
    height: 45px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: $darkgray;
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    &.form__input_icon{
        border-radius: 0 5px 5px 0;
    }
    &:focus{
        outline: none;
        border: 1px solid rgba($green, .35);
    }
    @include mobile{
        font-size: 14px;
    }
}
.form__icon{
    font-size: 17px;
    color: #c4cbcd;
}
input[type=checkbox], input[type=radio] {
	visibility: hidden;
}
.no-robot{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.checkbox__item{
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: -20px;
}
.checkbox_label{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
}
.form__icon_check{
    position: absolute;
    top: 5px;
    left: 3px;
    font-size: 9px;
    color: #fff; 
}
.checkbox__input[type=checkbox]:checked + .checkbox_label {
    background-color: $green;
}
.checkbox__text {
    cursor: pointer;
    color: $darkgray;
    font-size: 16px;
}
.confim{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.confim__question{
    color: rgba($darkgray, .8);
    font-family: "Roboto-Bold";
    margin-bottom: 15px;
}
.comfim__radio{
    display: flex;
    justify-content: center;
}
.radio-group{
    display: flex;
    margin-right: 40px;
    &:last-child{
        margin-right: 0;
    }
}
.radio{
    position: relative;  
}
.radio__label{
  @extend .checkbox_label;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  &:after{
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      top:5px;
      left: 5px;
      border-radius: 50%;
      background-color: #fff;
  }
}
.form-label_text{
    cursor: pointer;
    color: rgba($darkgray, .8);
    margin-left: 10px;
    vertical-align: middle;
}
.form_radio[type=radio]:checked + .radio__label:after {
    background-color: $green;
}
.form_radio[type=radio]:checked + .radio__label + .form-label_text{
    color: $green;
}
.welcome__bottom{
    padding-bottom: 40px;
    text-align: center; 
    @include mobile{
        padding-bottom: 10px;
    }
}
.copyright{
    color: $white;
    font-family: "Roboto-Light";
    font-size: 16px;
}

.form__input:focus::-moz-placeholder{
    color: transparent;
}
.form__input:focus:-ms-input-placeholder{
    color: transparent;
}
.form__input:focus::-webkit-input-placeholder{
    color: transparent;
}
.form__input_error, .form__input_error:focus {
    box-shadow: 0 0 80px rgba(red, .35);
    border: none;
}