extends ../base

block head
    title Главная
block content
    .welcome
        .welcome__top-right-block
            a(href="#").btn-autorization Авторизоваться
        .welocome__popup
            .user-picture
                img(src="require(img1.png)").user-picture__img
            .user-name Каринэ Гюлумян
            .user-info Личный сайт разработчика
            .socials Какаяни-будь tertertgfdg
            +icon('vk')


                
               


