.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 145px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba($darkgray, .85);
    @include tablets{
        height: 210px;
    }
}
.footer-top{
    display: flex;
    flex-grow: 1;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(#fff, .1);
    @include tablets{
        flex-wrap: wrap;
    }
}
.footer-menu{
    @include tablets{
        width: 100%;

    }
}
.navigation_footer{

}

.navigation__link_footer{
    @include tablets{
        text-align: center;
    }    
}
.footer-socials{
    @include tablets{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}
.navigation__item_footer{
    background: transparent;
    border: none;
    margin-right: 40px;
    &:hover{
        background: transparent;
    }
    &:last-child{
        margin-right: 0;
    }
    @include tablets{
        flex-grow: 0;
     }  
}
.socials__item_footer{
    margin-right: 10px;
    &:last-child{
        margin-right: 0;
    }
}
.socials__link_footer{
    width: 36px;
    height: 36px;
    display: block;
    &:hover .footer-socials__icon{
        fill: #fff;
    }
    &:hover .footer-socials__icon circle{
        fill: none;
    }
}
.footer-socials__icon{
    fill: rgba($darkgray, .85);
    transition: all .5s;  
}
.footer-socials__icon_water_bg{
    fill: rgb(46, 63, 69);
}
.footer-bottom{
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    @include tablets{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}
.footer-info{
    max-width: 550px;
    color: rgba(#fff, .5);
    font-family: "Roboto-Light", sans-serif;
   
}
.copyright_opacity{
    color: rgba(#fff, .5);
    font-family: "Roboto-Light", sans-serif;
}