.header-container{
    min-height: 600px;
    height: 100vh;
    position: relative;
}
.parallax__color-overlay{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom:0;
    background-color: rgba($darkgreen, .3);
}

.socials__icon_top{
    color: rgba($white, .5);
    &:hover{
        color:  rgba($white, 1);
    }
}
.header-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-portfolio_header, .bg-blog_header{
    max-width: 1173px;
    color: rgba(#fff, .06);
} 

.header-content__bottom{
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
}
.bottom-arrow{
    color: rgba(#fff, .7);
    width: 26px;
    height: 16px;
}