.hamburger-menu{
    color: #ffffff;
    z-index: 30;
}
.hamburger-menu-icon{
    height: 35px;
    width: 40px;
    @include mobile{
        width: 25px;
        height: 22px;
    } 
}
.page-menu-wrapper {
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    // background: rgba($green, .87);
    z-index: 20;
    display: none;
    &:after, &:before{
        content: "";
        display: inline-block;
        position: absolute;
        top:0;
        width: 0;
        height: 100%;
        background: rgba($green, .87);
        
    }
    &:before{
        left: 0;
       
    }
    &:after{
        right: 0;
      
    }
}
.page-menu-wrapper.open{
    &:after, &:before{
        animation: menuShow 1s ease-in-out .05s  forwards;
    }
}
@keyframes menuShow{
    0% {
        width:0;
    }
    100%{
        width:50%; 
    }
}

.page-menu{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    position: relative;
    z-index: 25;
}
.page-menu__item{
    text-align: center;
}
.page-menu__link{
    color: #fff;
    text-decoration: none;
    &:after, &:before {
        background-color: rgba(#fff, .2);
        transition: ease 300ms;
    }
    &:hover:after, &:hover:before {
        background-color: rgba(#fff, 1);
    }
}

.hamburger-menu-icon path{
    transition: .25s ease-in-out;
    transform-origin: right center;
}
.hamburger-menu-icon.open{
    path:first-child{
       transform: rotate(-45deg) translate(-5px, -3px);
    }
    path:nth-child(2){
        opacity: 0;
    }
    path:last-child{
        transform: rotate(45deg) translate(-4px, 4px);
    }
}

