.icon-arrow_down {
	font-size:(16.164/10)*1rem;
	width:(25.18/16.164)*1em;
}
.icon-github_round {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-hamburger {
	font-size:(35/10)*1rem;
	width:(40/35)*1em;
}
.icon-in_round {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-vk_round {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
