.icon-check {
	font-size:(13.922/10)*1rem;
	width:(18.164/13.922)*1em;
}
.icon-login {
	font-size:(15.422/10)*1rem;
	width:(14.137/15.422)*1em;
}
.icon-password {
	font-size:(15.984/10)*1rem;
	width:(16.897/15.984)*1em;
}
