.icon-link {
	font-size:(19.125/10)*1rem;
	width:(19.125/19.125)*1em;
}
.icon-portf_arrow_down {
	font-size:(27.435/10)*1rem;
	width:(42.736/27.435)*1em;
}
.icon-portf_arrow_up {
	font-size:(27.435/10)*1rem;
	width:(42.736/27.435)*1em;
}
